$button-theme-colors: (
  primary: $blues,
  secondary: $grays,
  danger: $reds,
  warning: $yellows,
  success: $greens,
  light: $lights,
  dark: $darks
);

$buttons-colors: (
  primary: (
    main: "500",
    main-hover: "550",
    main-hover-ghost: "50",
    main-active: "600",
    main-active-ghost: "100",
    text-color: "0",
    text-color-ghost: "500",
  ),
  secondary: (
    main: "500",
    main-hover: "550",
    main-hover-ghost: "50",
    main-active: "600",
    main-active-ghost: "100",
    text-color: "0",
    text-color-ghost: "500",

  ),
  danger: (
    main: "500",
    main-hover: "600",
    main-hover-ghost: "50",
    main-active: "650",
    main-active-ghost: "100",
    text-color: "0",
    text-color-ghost: "500",

  ),
  warning: (
    main: "300",
    main-hover: "350",
    main-hover-ghost: "50",
    main-active: "450",
    main-active-ghost: "100",
    text-color: "999",
    text-color-ghost: "300",

  ),
  success: (
    main: "500",
    main-hover: "550",
    main-hover-ghost: "50",
    main-active: "600",
    main-active-ghost: "100",
    text-color: "0",
    text-color-ghost: "500",

  ),
  light: (
    main: "200",
    main-hover: "250",
    main-hover-ghost: "100",
    main-active: "300",
    main-active-ghost: "150",
    text-color: "950",
    text-color-ghost: "500",

  ),
  dark: (
    main: "950",
    main-hover: "900",
    main-hover-ghost: "50",
    main-active: "750",
    main-active-ghost: "100",
    text-color: "0",
    text-color-ghost: "950",
  ),
  initial: (
    main: "100",
    main-hover: "150",
    main-active: "200",
    text-color: "999",
  )
);

$buttons-colors-dark: (
  primary: (
    main: '400',
    main-hover: "300",
    main-active: "500",
    text-color: "950",

    main-ghost: "300",
    main-hover-ghost: "950",
    main-active-ghost: "900",
    text-color-ghost: "300",
  ),
  secondary: (
    main: '400',
    main-hover: "300",
    main-active: "500",
    text-color: "950",
    
    main-ghost: "300",
    main-hover-ghost: "900",
    main-active-ghost: "850",
    text-color-ghost: "300",
  ),
  danger: (
    main: '400',
    main-hover: "300",
    main-active: "500",
    text-color: "950",
    
    main-ghost: "300",
    main-hover-ghost: "950",
    main-active-ghost: "900",
    text-color-ghost: "300",
  ),
  warning: (
    main: "200",
    main-hover: "150",
    main-active: "300",
    text-color: "950",
    
    main-ghost: "200",
    main-hover-ghost: "950",
    main-active-ghost: "850",
    text-color-ghost: "200",
  ),
  success: (
    main: '400',
    main-hover: "300",
    main-active: "500",
    text-color: "950",
    
    main-ghost: "300",
    main-hover-ghost: "950",
    main-active-ghost: "900",
    text-color-ghost: "300",
  ),
  light: (
    main: "300",
    main-hover: "200",
    main-active: "350",
    text-color: "950",
    
    main-ghost: "200",
    main-hover-ghost: "950",
    main-active-ghost: "850",
    text-color-ghost: "200",
  ),
  dark: (
    main: "750",
    main-hover: "650",
    main-active: "800",
    text-color: "50",

    main-ghost: "300",
    main-hover-ghost: "900",
    main-active-ghost: "750",
    text-color-ghost: "300",
  ),
  initial: (
    main: "800",
    main-hover: "750",
    main-active: "800",
    text-color: "0",
  )
);

@function get-button-state($theme, $state, $variant: 'light') {
  @if $variant == 'dark' {
    @return map-get(map-get($buttons-colors-dark, #{$theme}), $state);
  }
  @return map-get(map-get($buttons-colors, #{$theme}), $state);
}

//Padding-y, padding-x, font-size, line-height
$buttons-sizes: (
  small: (calc($btn-padding-y + 2px), 0.5rem, 0.875rem, 1),
  medium: ($btn-padding-y, $btn-padding-x, 1rem, $btn-line-height),
  large: (0.875rem, calc($btn-padding-x * $btn-ratio), 1.125rem, 1),
);

.btn {
  /*Estilos por defecto para los botones*/
  @include button-initial(map-get($button-theme-colors, 'secondary'), get-button-state('initial', 'main'), get-button-state('initial', 'main-hover'), get-button-state('initial', 'main-active'), get-button-state('initial', 'text-color'));

  
  // Tamaños
  --btn-padding: #{$btn-padding-y} #{$btn-padding-x};
  --btn-font-size: #{$btn-normal-fs};
  --btn-line-height: #{$btn-line-height};
    --btn-width: #{$btn-width};

  //Bordes
  --btn-border: 0;
  --btn-border-disabled: 0;
  --btn-border-radius: #{$btn-border-radius};

  //Otros
  --btn-text-decoration: none;
  --btn-text-align: center;

  background-color: var(--btn-bg);
  color: var(--btn-color);
  padding: var(--btn-padding);
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  text-decoration: var(--btn-text-decoration);
  text-align: center;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  position: relative;
  box-sizing: border-box;
  appearance: none;
  letter-spacing: 0.02857em;

  &:hover {
    background-color: var(--btn-bg-hover);
    color: var(--btn-color-hover)
  }

  &:active {
    background-color: var(--btn-bg-active);
  }

  &:disabled, &.disabled{
    --btn-bg-hover: transparent;
    --btn-bg-active: transparent;
    cursor: not-allowed;
    opacity: .5;
  }

  &:not(.btn-square) {
    & .icon-wrapper {
      margin-left: -3px;
    }
  }
}



body.dark .btn {
  @include button-initial(map-get($button-theme-colors, 'secondary'), get-button-state('initial', 'main', 'dark'), get-button-state('initial', 'main-hover', 'dark'), get-button-state('initial', 'main-active', 'dark'), get-button-state('initial', 'text-color', 'dark'));
}

@each $size, $values in $buttons-sizes {
  .btn-#{$size} {
    --btn-padding: #{nth($values, 1)} #{nth($values, 2)};
    --btn-font-size: #{nth($values, 3)};
    --btn-line-height: #{nth($values, 4)};
  }
}

@each $theme-color, $theme-value in $button-theme-colors {
  .btn-#{$theme-color} {
    @include button-variant($theme-value, get-button-state($theme-color, 'main'), get-button-state($theme-color, 'main-hover'), get-button-state($theme-color, 'main-active'), get-button-state($theme-color, 'text-color'));
  } 
}

@each $theme-color, $theme-value in $button-theme-colors {
  .btn-#{$theme-color}-ghost {
    @include button-ghost-variant($theme-value, get-button-state($theme-color, 'main'), get-button-state($theme-color, 'main-hover-ghost'), get-button-state($theme-color, 'main-active-ghost'), get-button-state($theme-color, 'text-color'), get-button-state($theme-color, 'text-color-ghost'));
    --btn-padding: calc(#{$btn-padding-y} - 1px) #{$btn-padding-x};
  } 
}

@each $theme-color, $theme-value in $button-theme-colors {
  body.dark .btn-#{$theme-color} {
    @include button-variant($theme-value, get-button-state($theme-color, 'main', 'dark'), get-button-state($theme-color, 'main-hover', 'dark'), get-button-state($theme-color, 'main-active', 'dark'), get-button-state($theme-color, 'text-color', 'dark'));
  }
}

@each $theme-color, $theme-value in $button-theme-colors {
  body.dark .btn-#{$theme-color}-ghost {
    @include button-ghost-variant($theme-value, get-button-state($theme-color, 'main-ghost', 'dark'), get-button-state($theme-color, 'main-hover-ghost', 'dark'), get-button-state($theme-color, 'main-active-ghost', 'dark'), get-button-state($theme-color, 'text-color-ghost', 'dark'), get-button-state($theme-color, 'text-color-ghost', 'dark'));
  } 
}

.btn-text {
  @include button-text-variant(map-get($button-theme-colors, 'secondary'), get-button-state('initial', 'main'), get-button-state('initial', 'main-hover'), get-button-state('initial', 'main-active'), get-button-state('initial', 'text-color'));
}

body.dark .btn-text {
  @include button-text-variant(map-get($button-theme-colors, 'secondary'), get-button-state('initial', 'main', 'dark'), get-button-state('initial', 'main-hover', 'dark'), get-button-state('initial', 'main-active', 'dark'), get-button-state('initial', 'text-color', 'dark'));
}

// Arregla el tamaño en padding cuando el botón está en forma square

.btn-square {
  &.btn-small, &.btn-medium {
    --btn-padding: calc(#{$btn-padding-y} + 2px) calc(#{$btn-padding-y} + 2px);
  }

  &.btn-large {
    --btn-padding: calc(#{$btn-padding-y} + 6px) calc(#{$btn-padding-y} + 6px);
  }
}
