$button-light-theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "danger":     $danger,
  "warning":    $warning,
  "success":    $success,
  "light":      $light,
  "dark":       $dark,
  "link":       $primary,
  "text":       $primary
);

$button-dark-theme-colors: (
  "primary":    $primary-alt,
  "secondary":  $secondary-alt,
  "danger":     $danger-alt,
  "warning":    $warning-alt,
  "success":    $success-alt,
  "light":      $light-alt,
  "dark":       $dark-alt,
  "link":       $primary-alt,
  "text":       $primary
);

//Padding-y, padding-x, font-size, height, line-height
$buttons-sizes: (
  large: (.5rem, 1.5rem, $btn-large-fs, 3rem, 2),
  small: (.25rem, .75rem, $btn-small-fs, 2rem, 1.5),
  square: (.375rem, .375rem, $btn-normal-fs, 2.5rem, 1.75)
);

.btn {
  // Variables css iniciales para el botón
  --btn-bg: transparent;
  --btn-border: 1px solid transparent;
  --btn-color: #{$text};
  --btn-padding: #{$btn-padding-y} #{$btn-padding-x};
  --btn-font-size: #{$btn-normal-fs};
  --btn-height: #{$btn-height};
  --btn-width: #{$btn-width};
  --btn-line-height: #{$line-height-base};
  --btn-border-radius: #{$btn-border-radius};
  --btn-hover-bg: #{$body-bg};
  --btn-active-bg: #{darken($body-bg, 3%)};
  --btn-text-decoration: none;

  color: var(--btn-color);
  background-color: var(--btn-bg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: var(--btn-text-decoration);
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  outline: none;
  border: var(--btn-border);
  vertical-align: middle;
  user-select: none;
  // transition: $transition-base;
  //Tamaño
  width: var(--btn-width);
  height: var(--btn-height);
  padding: var(--btn-padding);
  font-size:var(--btn-font-size);
  line-height: var(--btn-line-height);

  &:hover {
    background-color: var(--btn-hover-bg);
  }

  &:active {
    background-color: var(--btn-active-bg);
  }

}

body.dark .btn {
  --btn-color: #{$text-alt};
  --btn-hover-bg: #{$body-bg-alt};
  --btn-active-bg: #{darken($dark-alt, 3%)};
}

@each $size, $values in $buttons-sizes {
  .btn-#{$size} {
    --btn-padding: #{nth($values, 1)} #{nth($values, 2)};
    --btn-font-size: #{nth($values, 3)};
    --btn-height: #{nth($values, 4)};
    --btn-line-height: #{nth($values, 5)};
    @if $size == "square" {
      --btn-width: #{nth($values, 4)};
    }
  }
}

// Colores Alternativos
@each $color, $value in $button-light-theme-colors {
  .btn-#{$color} {
    @if $color == "text" {
      @include button-text-variant($value)
    } @else {
      @if $color == "link" {
        @include button-link($value);
      } @else {
        @include button-variant($value)
      }
    }
  }
}

@each $color, $value in $button-dark-theme-colors {
  body.dark .btn-#{$color} {
    @if $color == "text" {
      @include button-text-variant($value)
    } @else {
      @if $color == "link" {
        @include button-link($value);
      } @else {
        @include button-variant($value)
      }
    }
  }
}

// Colores Alternativos contornos
@each $color, $value in $button-light-theme-colors {
  @if $color != "text" and $color != "link" {
    .btn-ghost-#{$color} {
       @include button-ghost-variant($value)
      }
  }
}

@each $color, $value in $button-dark-theme-colors {
  @if $color != "text" and $color != "link" {
    body.dark .btn-ghost-#{$color} {
       @include button-ghost-variant($value)
      }
  }
}