.modal {

  &-content {
    margin-top: -8rem;
  }
  
  &-overlay {
    z-index: 9;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba($dark, 0.8);
  }

  &-close {
    position: absolute;
    top: -21px;
    right: -21px;
  }
}
