.modal {

  &-content {
    padding: 1rem;
    width: 100%;
  }
  
  &-overlay {
    z-index: 9;
    background-color: rgba($dark, 0.8);
    display: flex;
    align-items: flex-start;
    justify-content: center;

    & .container {
      margin-top: 76px;
    }

    @include screen('min', 'lg') {
      & .container {
        max-width: 600px;
      }
    }

  }

  &-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
