.switch {
  
  @include switch-variant($grays, $greens);

  display: inline-block;
  width: 100%;

  & input {
    display: none;

    &:checked ~ .switch-slider {
      background-color: var(--switch-bg-on);
      border: 1px solid var(--switch-border-on);
    }
    
    &:not(:checked) ~ .switch-slider {
      background-color: var(--switch-bg-off);
      border: 1px solid var(--switch-border-off);
    }

    &:checked:not(:disabled) ~ .switch-slider:after {
        transform: translateX(14px);
    }

    &:not(:checked):active:not(:disabled) ~ .switch-slider:after{
      width: 1rem;
    }

    &:checked:active:not(:disabled) ~ .switch-slider:after{
      width: 1rem;
      margin-left: -6px;
    }

    &:checked:not(:disabled) ~ .switch-slider:focus{
      box-shadow: var(--switch-focus-shadow-on);
    }

    &:not(:checked):not(:disabled) ~ .switch-slider:focus{
      box-shadow: var(--switch-focus-shadow-on);
      background-color: var(--switch-bg-off);
      border: 1px solid var(--switch-border-on);
    }

    &:not(:checked):not(:disabled) ~ .switch-slider:focus.switch-slider:after{
      background-color: var(--switch-dot-off-focus);
    }

    &:checked:not(:disabled) ~ .switch-slider:after{
      background-color: var(--switch-dot-on);
    }

    &:not(:checked):not(:disabled) ~ .switch-slider:after{
      background-color: var(--switch-dot-off);
    }
  }

  &-label, &-label-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &-slider {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 2rem;
    height: 1rem;
    padding: 3px;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s ease;

    &::after {
      content: '';
      display: inherit;
      width: .625rem;
      height: .625rem;
      border-radius: 12px;
      transition: .2s ease;
    }
  }
}