// Variantes de color
// @mixin button-variant($bg-color, $color: color-contrast($bg-color), $hover-bg-color: darken($bg-color, 7%), $active-bg-color: darken($bg-color, 10%)){
//   --btn-bg: #{$bg-color};
//   --btn-color: #{$color};
//   --btn-hover-bg: #{$hover-bg-color};
//   --btn-active-bg: #{$active-bg-color};
// }


@mixin button-initial($color, $bg, $bg-hover, $bg-active, $text-color) {

  $btn-bg: map-get($color, $bg);
  $btn-bg-hover:  map-get($color, $bg-hover);
  $btn-bg-active:  map-get($color, $bg-active);
  $btn-text-color:  map-get($color, $text-color);
    
  // Color de Fondo y texto
  --btn-bg: #{$btn-bg};
  --btn-bg-hover: #{$btn-bg-hover};
  --btn-bg-active: #{$btn-bg-active};
  --btn-color: #{$btn-text-color};
  --btn-color-hover: #{$btn-text-color};
}

@mixin button-variant($color, $bg, $bg-hover, $bg-active, $text-color) {

  $btn-bg: map-get($color, $bg);
  $btn-bg-hover:  map-get($color, $bg-hover);
  $btn-bg-active:  map-get($color, $bg-active);
  $btn-text-color:  map-get($color, $text-color);

  --btn-bg: #{$btn-bg};
  --btn-bg-hover: #{$btn-bg-hover};
  --btn-bg-active: #{$btn-bg-active};
  --btn-color: #{$btn-text-color};
  --btn-color-hover: #{$btn-text-color};

  &:focus {
    box-shadow: 0 0 0 .25rem rgba(map-get($color, $bg), .25);
  }
}

// Variantes de color pero en los botonoes Ghost
@mixin button-ghost-variant($color, $bg, $bg-hover, $bg-active, $text-color, $text-color-hover) {

  $btn-border: map-get($color, $bg);
  $btn-text-color: map-get($color, $bg);
  $btn-hover-bg: map-get($color, $bg-hover);
  $btn-active-bg: map-get($color, $bg-active);
  $btn-text-color-hover: map-get($color, $text-color-hover);
  
  --btn-border: 1px solid #{$btn-border};
  --btn-color: #{$btn-text-color};
  --btn-color-hover: #{$btn-text-color-hover};
  --btn-bg-hover: #{$btn-hover-bg};
  --btn-bg-active: #{$btn-active-bg};
  --btn-bg: transparent;

  &:focus {
    box-shadow: 0 0 0 .25rem rgba(map-get($color, $bg), .25);
  }
}


@mixin button-text-variant($color, $bg, $bg-hover, $bg-active, $text-color) {

  $btn-bg: transparent;
  $btn-bg-hover:  map-get($color, $bg-hover);
  $btn-bg-active:  map-get($color, $bg-active);
  $btn-text-color:  map-get($color, $text-color);
    
  // Color de Fondo y texto
  --btn-bg: #{$btn-bg};
  --btn-bg-hover: #{$btn-bg-hover};
  --btn-bg-active: #{$btn-bg-active};
  --btn-color: #{$btn-text-color};
  --btn-color-hover: #{$btn-text-color};

  &:focus {
    background-color: map-get($color, $bg-hover);
    box-shadow: 0 0 0 .25rem rgba(map-get($color, $bg-hover), .5);
  }
}