@mixin switch-variant($bg-color, $circle-color: color-contrast($bg-color), $hover-bg-color: darken($bg-color, 7%), $active-bg-color: darken($bg-color, 10%)) {
  --switch-bg: #{$bg-color};
  --switch-circle-bg: #{$bg-color};
  --switch-hover-bg: #{$hover-bg-color};
  --switch-active-bg: #{$active-bg-color};
  --switch-on-border: #{$border-width} #{$border-style} #{$bg-color};
  --switch-on-circle-bg: #{$circle-color};
}